.navbar {
    background-color: silver;
    border-style: ridge;
    border-radius: 15px;
}
.navbar-brand {
    border-radius: 25px;
    background: rgb(128, 121, 121);
    padding: 20px;
    width: 120px;
    height: 70px;
}
body {
    background-color: rgb(226, 229, 229);
}
h1 {
    font-weight: bold;
    color: rgb(53, 53, 109);
    font-size: 90px;
    text-align: center;
}

.card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: slategrey;
}
.form-group {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper {
    text-align: center;
}
.button {
    position: absolute;
    top: 65%;
}